@media (min-width: 700px){
    .tarjeta {
        width: 600px; 
       
        margin-left: auto;
        margin-right: auto;
    }

    .title{
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    
    }
    .charts{
        height: 400px;
        color: white
    }
    .charts2{
        height: 400px;
        color: white
    }
}
ion-menu-button {
    color: var(--ion-color-primary);
  }
@media (max-width: 699px){
    .tarjeta {
        

        margin-left:calc(5vW);
        margin-right: calc(5vW);   
    }
    .title{
        text-align: center;
        font-weight: bold;
        font-size: 6vw;
    }
    .texto{
        font-size: 4vw;
    }

    .charts2{
        height: 350px;
    }
}


.image{
    display: block;
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
    width: 5em;
    height: 5em;
}


.inicio{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.contenido{
    padding:2em
}



