
<ion-content class="background">
  <ion-card class="tarjeta" color="light">
    <ion-card-content  >
      <ion-col align-self-center>
        <ion-title class="title" color="primary">Tempus</ion-title>
        <img src="../assets/icon/favicon.png" class="image"> 
        
        <ion-button [routerLink]="['/registro']" id="registrarse" expand="block" class="inicio" color="tertiary">Registrarse</ion-button>

      

        <ion-button class="inicio" [routerLink]="['/iniciar-sesion']" expand="block" color="danger">Iniciar sesión</ion-button>
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
